body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 20%;
    background-color: grey;
    padding: 20px;
    color: white;
    height: 120vh;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a.active {
    background-color: pink;
    border-radius: 5px;
}

.main-content {
    width: 40%;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header input[type="search"] {
    padding: 10px;
    margin-right: 20px;
    width: 200%;
}

.button.red {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
}

.form-container h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logout a {
    color: red;
    text-decoration: none;
    margin-right: 0vmax;
}